#footer-container {
  margin-top: 100px !important;
  margin-bottom: 10px !important;
}

div#utility-link {
  a {
    font-size: 0.5em;
    text-decoration: none;
  }
}

#copyright {
  font-size: 0.4em;
}
