main {
  margin-top: 110px !important;
}

form {
  .profile-text-smoll {
    font-size: 0.7em;
  }
  //   .netflix-check{
  //     appearance: none;
  // 	padding: 9px;
  // 	border-radius: 1px;
  // 	display: inline-block;
  // 	position: relative;
  //     background-color: $netflix-grey;
  //     width: 20px;
  //     height: 20px;
  //     border: 1px solid $netflix-grey-bbutton;
  //   }&:active{
  //     box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  //   }&:checked:active{
  //     box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  //   }&:checked{
  //     background-color: #e9ecee;
  // 	border: 1px solid #adb8c0;
  // 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  // 	color: #99a1a7;
  //   }
  //   &:checked::after{
  //     content: '\2714';
  // 	font-size: 14px;
  // 	position: absolute;
  // 	top: 0px;
  // 	left: 3px;
  // 	color: #99a1a7;
  //   }
}

.netflix-mod-profile {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: white;
  font-size: 0.6em;
  padding: 2px 4px;
  border: 1px solid black;
}

.netflix-card:hover {
  transform: scale(1.2);
}
